@font-face {
  font-family: "Nekst";
  src: url("/fonts/Nekst-Black.eot");
  src: local("Nekst Black"), local("Nekst-Black"), url("/fonts/Nekst-Black.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Nekst-Black.woff2") format("woff2"), url("/fonts/Nekst-Black.woff") format("woff"),
    url("/fonts/Nekst-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-Regular.eot");
  src: local("Gilroy Regular"), local("Gilroy-Regular"),
    url("/fonts/Gilroy-Regular.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Gilroy-Regular.woff2") format("woff2"), url("/fonts/Gilroy-Regular.woff") format("woff"),
    url("/fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-Bold.eot");
  src: local("Gilroy Bold"), local("Gilroy-Bold"), url("/fonts/Gilroy-Bold.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Gilroy-Bold.woff2") format("woff2"), url("/fonts/Gilroy-Bold.woff") format("woff"),
    url("/fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

:root {
  --color-bg-white: #ffffff;
  --color-bg-orange: #ff9514;
  --color-bg-black: #111;
  --color-bg-grey: #575757;
  --color-bg-dis: rgba(255, 149, 20, 0.4);
}

html {
  font-family: "Nekst", "Arial", sans-serif;
}

/* Стили кнопок */
.button {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;

  color: var(--color-bg-white);
  padding: 12px 24px;
  gap: 10px;

  background: var(--color-bg-orange);
  border: none;
  border-radius: 40px;
}

.button_hover {
  background: var(--color-bg-black);
}

.button_active {
  background: var(--color-bg-grey);
}

.button_disabled {
  background: var(--color-bg-dis);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.button_loading {
  min-height: 48px;
  min-width: 103px;
}

.button__img {
  animation-name: rotation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.container {
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  padding: 0px;
  gap: 32px;
}

.header-h1 {
  font-size: 54px;
  line-height: 90%;
  color: var(--color-bg-black);
}

.text {
  font-family: "Gilroy";
  font-size: 16px;
  line-height: 20px;
  color: var(--color-bg-grey);
}
