@font-face {
  font-family: "Nekst";
  src: url("/fonts/Nekst-Black.eot");
  src: local("Nekst Black"), local("Nekst-Black"), url("/fonts/Nekst-Black.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Nekst-Black.woff2") format("woff2"), url("/fonts/Nekst-Black.woff") format("woff"),
    url("/fonts/Nekst-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-Regular.eot");
  src: local("Gilroy Regular"), local("Gilroy-Regular"),
    url("/fonts/Gilroy-Regular.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Gilroy-Regular.woff2") format("woff2"), url("/fonts/Gilroy-Regular.woff") format("woff"),
    url("/fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-Bold.eot");
  src: local("Gilroy Bold"), local("Gilroy-Bold"), url("/fonts/Gilroy-Bold.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Gilroy-Bold.woff2") format("woff2"), url("/fonts/Gilroy-Bold.woff") format("woff"),
    url("/fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

:root {
  --color-bg-white: #ffffff;
  --color-bg-orange: #ff9514;
  --color-bg-black: #111;
  --color-bg-grey: #575757;
  --color-bg-track: #e1e1e1;
  --color-bg-output: #f3f3f4;
}

html {
  font-family: "Nekst", "Arial", sans-serif;
}

h1 {
  margin: 0;
}

.main {
  margin: 213px 48px;
}

/* Стили кнопок */
.button {
  font-size: 30px;
  line-height: 36px;
  height: 100%;
  color: var(--color-bg-white);
  padding: 8px 16px 12px;
  background: var(--color-bg-orange);
  border: none;
  border-radius: 40px;

  cursor: pointer;
}

.button:hover {
  background: var(--color-bg-black);
}

.button:active {
  background: var(--color-bg-grey);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.button_loading {
  min-height: 48px;
  min-width: 103px;
  padding-top: 10px;
  padding-bottom: 10px;
  pointer-events: none;
}

.button__img {
  animation-name: rotation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 44px 32px;
}

.header-h1 {
  font-size: 54px;
  line-height: 90%;
  color: var(--color-bg-black);
  max-width: 50%;
  margin-bottom: 32px;
  margin-left: -1px;
}

.text {
  font-family: "Gilroy";
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: var(--color-bg-grey);
}

.container-output__title {
  margin-bottom: 8px;
}

.container-slider__text {
  margin-bottom: 24px;
}

/* Ползунок */
.container-slider {
  position: relative;
}

.slider {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0px;
  z-index: 1;
  height: 2px;
  margin: 0 24px;
}
.slider__track {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 1px;
  background-color: var(--color-bg-track);
}
.slider__range {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: var(--color-bg-orange);
}
.slider__thumb {
  position: absolute;
  z-index: 3;
  width: 20px;
  height: 20px;
  background-color: var(--color-bg-orange);
  border-radius: 50%;
  transform: translateY(-50%);
}

.input-slider {
  position: absolute;
  pointer-events: none;
  -webkit-appearance: none;
  z-index: 2;
  height: 10px;
  width: 100%;
  opacity: 0;
}

.input-slider::-webkit-slider-thumb {
  pointer-events: all;
  width: 30px;
  height: 30px;
  border-radius: 0;
  border: 0 none;
  background-color: var(--color-bg-output);
  -webkit-appearance: none;
}

.output {
  background: var(--color-bg-output);
  border: 2px solid var(--color-bg-output);
  box-sizing: border-box;
  border-radius: 16px;
  font-size: 30px;
  line-height: 36px;
  color: var(--color-bg-grey);

  display: flex;
  padding: 16px 24px;
  justify-content: space-between;
}

.container-output__amount {
  display: flex;
  gap: 5px;
}

.container-output__amount_symbol {
  margin-top: -5px;
}
.output__text {
  font-family: "Nekst";
  font-size: 54px;
  line-height: 90%;
  color: var(--color-bg-grey);
}

.output__persent {
  font-size: 20px;
}

/* Стили hover слайдера*/
.slider__thumb_hover {
  height: 24px;
  width: 24px;
}

.slider__range_hover {
  height: 1px;
}

/* Стили active слайдера*/
.slider__range_active {
  height: 1px;
}

.output_active {
  background-color: var(--color-bg-white);
  border: 2px solid var(--color-bg-output);
}

/* Стили active слайдера*/
.container__elem_disabled {
  opacity: 0.4;
  cursor: none;
  pointer-events: none;
}

.container__elem {
  width: 31%;
}

.output__value {
  width: 90%;
  background: transparent;
  border: none;
  outline: 0;
}

@media (max-width: 320px) {
  .main {
    margin: 44px 20px;
  }

  .header-h1 {
    max-width: 100%;
    margin-bottom: 32px;
  }

  .container__elem {
    width: 100%;
  }

  .container-output {
    width: 100%;
  }
  .button {
    width: 100%;
  }

  .container {
    justify-content: start;
    row-gap: 16px;
  }
}

@media (max-width: 679px) {
  .header-h1 {
    font-size: 34px;
  }

  .output__text {
    font-size: 22px;
  }

  .text {
    font-size: 14px;
  }

  .button {
    font-size: 22px;
  }
}

@media (min-width: 321px) and (max-width: 768px) {
  .main {
    margin: 64px 36px;
  }

  .header-h1 {
    max-width: 100%;
    margin-bottom: 44px;
  }

  .container__elem {
    width: 100%;
  }

  .container-output {
    width: 47%;
  }
  .button {
    width: 50%;
  }

  .container {
    justify-content: start;
    column-gap: 32px;
    row-gap: 44px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .main {
    margin: 100px 48px;
  }

  .header-h1 {
    max-width: 100%;
    margin-bottom: 44px;
  }

  .container__elem {
    width: 100%;
  }

  .container-output {
    width: 48%;
  }
  .button {
    width: 37%;
  }

  .container {
    justify-content: start;
    column-gap: 32px;
    row-gap: 44px;
  }
}
