@font-face {
  font-family: "Nekst";
  src: url("/fonts/Nekst-Black.eot");
  src: local("Nekst Black"), local("Nekst-Black"), url("/fonts/Nekst-Black.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Nekst-Black.woff2") format("woff2"), url("/fonts/Nekst-Black.woff") format("woff"),
    url("/fonts/Nekst-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-Regular.eot");
  src: local("Gilroy Regular"), local("Gilroy-Regular"),
    url("/fonts/Gilroy-Regular.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Gilroy-Regular.woff2") format("woff2"), url("/fonts/Gilroy-Regular.woff") format("woff"),
    url("/fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-Bold.eot");
  src: local("Gilroy Bold"), local("Gilroy-Bold"), url("/fonts/Gilroy-Bold.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Gilroy-Bold.woff2") format("woff2"), url("/fonts/Gilroy-Bold.woff") format("woff"),
    url("/fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

:root {
  --color-bg-white: #ffffff;
  --color-bg-orange: #ff9514;
  --color-bg-black: #111;
  --color-bg-grey: #575757;
  --color-bg-dis: rgba(255, 149, 20, 0.4);
  --color-bg-track: #e1e1e1;
  --color-bg-output: #f3f3f4;
}

html {
  font-family: "Nekst", "Arial", sans-serif;
}

/* Стили кнопок */
.button {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;

  color: var(--color-bg-white);
  padding: 12px 24px;
  gap: 10px;

  background: var(--color-bg-orange);
  border: none;
  border-radius: 40px;
}

.button_hover {
  background: var(--color-bg-black);
}

.button_active {
  background: var(--color-bg-grey);
}

.button_disabled {
  background: var(--color-bg-dis);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.button_loading {
  min-height: 48px;
  min-width: 103px;
}

.button__img {
  animation-name: rotation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.container {
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  padding: 0px;
  gap: 32px;
}

.header-h1 {
  font-size: 54px;
  line-height: 90%;
  color: var(--color-bg-black);
}

.text {
  font-family: "Gilroy";
  font-size: 16px;
  line-height: 20px;
  color: var(--color-bg-grey);
}

/* Ползунок */
.container-slider {
  margin-top: 2%;

  position: relative;
  width: 50%;
  max-width: 500px;
}

.slider {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0px;
  z-index: 1;
  height: 2px;
  margin: 0 24px;
}
.slider__track {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 1px;
  background-color: var(--color-bg-track);
}
.slider__range {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: var(--color-bg-orange);
}
.slider__thumb {
  position: absolute;
  z-index: 3;
  width: 20px;
  height: 20px;
  background-color: var(--color-bg-orange);
  border-radius: 50%;
  transform: translateY(-50%);
}

.input-slider {
  position: absolute;
  pointer-events: none;
  -webkit-appearance: none;
  z-index: 2;
  height: 10px;
  width: 100%;
  opacity: 0;
}

.input-slider::-webkit-slider-thumb {
  pointer-events: all;
  width: 30px;
  height: 30px;
  border-radius: 0;
  border: 0 none;
  background-color: var(--color-bg-output);
  -webkit-appearance: none;
}

.output {
  background: var(--color-bg-output);
  border: 2px solid var(--color-bg-output);
  box-sizing: border-box;
  border-radius: 16px;
  font-size: 30px;
  line-height: 36px;
  color: var(--color-bg-grey);

  display: flex;
  padding: 16px 24px;
  justify-content: space-between;
}

/* Стили hover слайдера*/
.slider__thumb_hover {
  height: 24px;
  width: 24px;
}

.slider__range_hover {
  height: 1px;
}

/* Стили active слайдера*/
.slider__range_active {
  height: 1px;
}

.output_active {
  background-color: var(--color-bg-white);
  border: 2px solid var(--color-bg-output);
}

/* Стили active слайдера*/
.container-slider_disabled {
  opacity: 0.4;
}
